<%- include('./header/header') -%>
  <div class="jumbotron jumbotron-fluid" style="background-image: url('https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-0.3.5&s=db802b72adc82f97904d37dde9d0d401&auto=format&fit=crop&w=1489&q=80'); width: 100%">
    <div class="container">
      <br>
      <br>
      <center>
        <img src="https://www.kontrakhukum.com/images/partner-logo/Hacktiv8.png" width="20%" alt="">
        <h1 class="display-4 text-white">Welcome to My Project</h1>
        <h3 class="text-white">Expressjs, Sequelize, CRUD, MVC, Postgress, Javascript</h3>
        <h4 class="text-white">Ari Supriatna</h4>
      </center>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <h5 class="card-header text-center text-white" style="background: #FFAB40">MENU UTAMA</h5>
          <div class="card-body">

            <div class="row">

              <div class="col-md-3">
                <div class="card">
                  <img src="https://www.shareicon.net/data/2016/08/18/815435_idea_512x512.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="/student/add" class="btn text-white" style="background: #F57C00">ADD STUDENT</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="https://www.shareicon.net/data/2016/08/18/815435_idea_512x512.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="/student" class="btn text-white" style="background: #F57C00">DATA STUDENT</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="https://cmporanga.tudotransparente.com.br/assets/img/userchat.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="/teacher/add" class="btn text-white" style="background: #F57C00">ADD TEACHER</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="https://cmporanga.tudotransparente.com.br/assets/img/userchat.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="/teacher" class="btn text-white" style="background: #F57C00">DATA TEACHER</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="http://pluspng.com/img-png/english-subject-png-english-2246.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="/subject/add" class="btn text-white" style="background: #F57C00">ADD SUBJECT</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="http://pluspng.com/img-png/english-subject-png-english-2246.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="/subject" class="btn text-white" style="background: #F57C00">DATA SUBJECT</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="http://pluspng.com/img-png/english-subject-png-english-2246.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="#" class="btn text-white disabled" style="background: #F57C00">Coming Soon</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="http://pluspng.com/img-png/english-subject-png-english-2246.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="#" class="btn text-white disabled" style="background: #F57C00">Coming Soon</a>
                  </div>
                </div>
                <br>
              </div>
            </div>
            <!-- row -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <%- include('./footer/footer') -%>